@charset "utf-8";
// Import Bulma's core
//@import "../../node_modules/bulma/sass/utilities/_all";

@mixin font-face() {
  @font-face {
    font-family: "Abside";
    src: url("./fonts/Abside-Round1.ttf") format("ttf");
    font-weight: normal;
    font-style: normal;
  }
}

// Set your brand colors
$purple: #8A4D76;
$pink: #FA7C91;
$red: #e60b14;
$brown: #757763;
$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB;

// Update some of Bulma's component variables
$family-sans-serif: "Abside", Arial, Helvetica Nueue, sans-serif;
$family-sans-serif: "Nunito", sans-serif;
$grey-dark: $brown;
$grey-light: $beige-light;
$primary: $purple;
$secondary: $pink;
$link: $pink;
$danger: $red;

// Import Bulma and Buefy styles
@import "../../node_modules/bulma/bulma.sass";
@import "../../node_modules/buefy/src/scss/buefy";
