@charset "utf-8";
// Import Bulma's core
//@import "../../node_modules/bulma/sass/utilities/_all";

@mixin font-face() {
  @font-face {
    font-family: "Abside";
    src: url("./fonts/Abside-Round1.ttf") format("ttf");
    font-weight: bold;
    font-style: normal;
  }
}
@mixin font-face() {
  @font-face {
    font-family: "Abside";
    src: url("./fonts/Abside-ObliqueRound1.ttf") format("ttf");
    font-weight: bold;
    font-style: italic;
  }
}
// see if you can make kerning (letter-spacing) smaller
// figure out importing lighter style for

// Set your brand colors
$yellow: #FDF388;
$cyan: #40C6EE;
$blue: #4a5cdd;
$red: #ED5959;
$grey-light: #EFEAE4;
$grey: #5a5b55;
$grey-dark: #30332A;
$black: #181914;

// Update some of Bulma's component variables
$family-sans-serif: "Abside", Arial, Helvetica Nueue, sans-serif;
$primary: $red;
$secondary: $cyan;
$link: $cyan;
$danger: $red;
$info: $blue;
$warning: $yellow;
$dark: $grey-dark;
$text-strong: $grey-dark;

$scheme-main: $grey-light;
$background: $grey-light;
$scheme-invert: $grey-dark;
$text-invert: $grey-light;
$text-light: $grey-light;
$radius-small: 20px;
$radius: 3px;
$notification-radius: 0;

$carousel-arrow-background: $black;
$carousel-arrow-color: $scheme-main;

// Import Bulma and Buefy styles
@import "../../node_modules/bulma/bulma.sass";
@import "../../node_modules/buefy/src/scss/buefy";
