/*-----------------
--------------Fonts
-----------------*/

@font-face {
    font-family: "Abside";
    src: url('./fonts/Abside-Round1.eot');
    src: url("./fonts/Abside-Round1.eot#iefix") format("embedded-opentype"),
    url("./fonts/Abside-Round1.ttf") format("truetype");
    font-weight: bold;
}

@font-face {
    font-family: "Streamster";
    src: url('./fonts/Streamster.eot');
    src: url("./fonts/Streamster.eot#iefix") format("embedded-opentype"),
    url("./fonts/Streamster.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

/*-----------------
-------------Global
-----------------*/

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: "Abside", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
    Helvetica, sans-serif;
    -o-animation: animate-background 0.5s forwards;
    -ms-animation: animate-background 0.5s forwards;
    -webkit-animation: animate-background 0.5s forwards;
    -moz-animation: animate-background 0.5s forwards;
    animation: animate-background 0.5s forwards;
    animation-delay: 0.75s;
    overflow: hidden;
    font-size: 16px;
    background-color: #F2EFEB;
}

.abside {
    font-family: inherit;
}

.svg-link > text {
    text-decoration: underline;
}

svg text, article > * {
    color: #181914 !important;
    user-select: text !important;
}

p, :is(h1, h2, h3, h4, h5, h6) {
    user-select: text !important;
}

::selection {
    background: white !important;
}

/*-----------------
---Element Specific
-----------------*/

/* Main App */

#app {
    height: 100%;
}

#volume-wrapper {
    position: absolute;
    bottom: 2em;
    right: 2em;
    width: auto;
}

button.has-white-stroke:hover {
    background-color: #5a5b55 !important;
}

/* Carousel */

.hero-body h1 {
    align-self: flex-end;
}

.slide-body {
    background-color: #efe7dc; /*for browsers that dont support gradients*/
    background-image: radial-gradient(circle, rgb(250, 250, 250) 10%, rgba(242, 239, 235, 1) 75%, rgba(48, 51, 42, 0.25));
    box-shadow: 0 0 45px rgba(242, 239, 235, 0.6);
    border-radius: 50px;
    margin: 4em auto;
    width: 100vh;
    max-width: 100vw;
    flex-direction: column;
}

.carousel-arrow .icon:hover {
    border: none !important;
    background-color: #5a5b55 !important;
}

.landing-logo {
    max-width: 77%;
}

.hero-body {
    text-align: left;
}

#buffer {
    flex-grow: 10;
}

/* Changer Knob */

#changer-wrapper {
    right: 0.5em;
    top: 0.5em;
    width: 12em;
}

#knob {
    transform-origin: 10% 90%;
}

/* Intro */

.intro-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80%;
}

.logo-bottom,
.logo-top {
    display: inline-block;
    position: relative;
}

.logo-bottom {
    -o-animation: logo-anim-bottom 1.5s;
    -ms-animation: logo-anim-bottom 1.5s;
    -moz-animation: logo-anim-bottom 1.5s;
    -webkit-animation: logo-anim-bottom 1.5s;
    animation: logo-anim-bottom 1.5s;
}

.logo-top {
    -o-animation: logo-anim-top 1.5;
    -ms-animation: logo-anim-top 1.5;
    -moz-animation: logo-anim-top 1.5s;
    -webkit-animation: logo-anim-top 1.5;
    animation: logo-anim-top 1.5s;
}

.viewmaster-filler {
    fill: #F2EFEB;
    -o-animation: animate-fill 0.5s forwards;
    -ms-animation: animate-fill 0.5s forwards;
    -webkit-animation: animate-fill 0.5s forwards;
    -moz-animation: animate-fill 0.5s forwards;
    animation: animate-fill 0.5s forwards;
    animation-delay: 0.75s;
}

/* Custom slide animation */
/* actual scroll movement of a viewmaster
   similar to the "natural" inverted scroll movement on a mac
*/
.slide-next-enter-active,
.slide-next-leave-active {
    transition: transform 0.5s ease-in-out !important;
}

.slide-next-enter {
    transform: translate(-125%, 50%) rotate(-90deg) !important;
}

.slide-next-leave-to {
    transform: translate(125%, 50%) rotate(90deg) !important;
}

.slide-prev-enter-active,
.slide-prev-leave-active {
    transition: transform 0.5s ease-in-out !important;
}

.slide-prev-leave-to {
    transform: translate(-125%, 50%) rotate(-90deg) !important;
}

.slide-prev-enter {
    transform: translate(125%, 50%) rotate(90deg) !important;
}

/*.slide-prev-enter-active {
    animation: prev-slide-enter 0.5s ease-in-out both;
}

.slide-prev-leave-active {
    animation: prev-slide-leave 0.5s ease-in-out both;
}

.slide-next-enter-active {
    animation: next-slide-enter 0.5s ease-in-out both;
}

.slide-next-leave-active {
    animation: next-slide-leave 0.5s ease-in-out both;
}

@keyframes prev-slide-enter {
    0% {
        transform: translate(-125%, 50%) rotate(-90deg);
    }
    100% {
        transform: translate(0, 0) rotate(0);
    }
}

@keyframes next-slide-enter {
    0% {
        transform: translate(125%, 50%) rotate(90deg);
    }
    100% {
        transform: translate(0, 0) rotate(0);
    }
}

@keyframes prev-slide-leave {
    0% {
        transform: translate(0, 0) rotate(0);
    }
    15% {
        transform: translate(-10%, 0) rotate(-15deg);
    }
    100% {
        transform: translate(125%, 50%) rotate(90deg);
    }
}

@keyframes next-slide-leave {
    0% {
        transform: translate(0, 0) rotate(0);
    }
    15% {
        transform: translate(10%, 0) rotate(15deg);
    }
    100% {
        transform: translate(-125%, -50%) rotate(-90deg);
    }
}*/

/* "visually normal way"
.slide-prev-enter-active,
.slide-prev-leave-active {
    transition: transform 0.5s ease-in-out !important;
}

.slide-prev-leave-to{
    transform: translate(150%, 50%) rotate(90deg) !important;
}

.slide-prev-enter{
    transform: translate(-150%, 50%) rotate(-90deg) !important;
}
.slide-next-enter-active,
.slide-next-leave-active {
    transition: transform 0.5s ease-in-out !important;
}
.slide-next-enter {
    transform: translate(150%, 50%) rotate(90deg) !important;
}
.slide-next-leave-to {
    transform: translate(-150%, 50%) rotate(-90deg) !important;
}
*/

/* About */

#about-svg {
    width: 92%;
}

/* Navigation */

#navigation-wrapper {
    position: absolute;
    left: 0.5em;
    bottom: 0;
    width: 15vw;
    min-width: 18em;
}

.activeNavigation {
    fill: #F2EFEB !important;
    opacity: 1 !important;
}

#navigation-boxes rect:hover {
    fill: #181914;
    cursor: pointer;
}

#navigation-names > *:hover {
    cursor: pointer;
}

#navigation-toggle {
    position: absolute;
    bottom: 2em;
    left: 1em;
}

/*-----------------
------------Helpers
-----------------*/

.field {
    font-size: 1em;
}

.field.label {
    margin: 0;
}

.notification, .toast {
    filter: drop-shadow(10px 10px 0 #30332A);
    border: 4px solid #30332A;
    border-radius: 0 !important;
    color: #181914 !important;
}

button {
    filter: drop-shadow(5px 5px 0 #30332A);
    border: 2px solid #30332A !important;
    border-radius: 0 !important;
    z-index: 10;
}

button.has-white-stroke {
    filter: drop-shadow(5px 5px 0 #F2EFEB);
    border: 2px solid #F2EFEB !important;
    border-radius: 0;
}

button:hover, button:focus {
    filter: none
}

button:hover::before, button:focus::before {
    -o-animation: diagonal-stripes linear 1.5s;
    -ms-animation: diagonal-stripes linear 1.5s;
    -webkit-animation: diagonal-stripes linear 1.5s;
    -moz-animation: diagonal-stripes linear 1.5s;
    animation: diagonal-stripes linear 1.5s;
    animation-delay: 0s;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;
    animation-iteration-count: infinite;
    position: absolute;
    content: '';
    z-index: -1;
    display: block;
    top: 2px;
    left: 4px;
    width: 105%;
    height: 110%;
    background: url(../assets/stripes.png) 50%;
}

button:hover::after, button:focus::after {
    position: absolute;
    content: '';
    background-color: inherit;
    z-index: -1;
    top: -2px;
    left: -2px;
    display: block;
    width: 105%;
    height: 110%;
    border: inherit;
    background-size: auto;
    background-size: 100%;
}

.is-absolute {
    position: absolute;
}

.is-fullwidth, .is-ancestor {
    width: 100%;
}

.w-80 {
    max-width: 80%;
}

.cursor-disabled {
    cursor: not-allowed !important;
}

/*-----------------------
Screen Size Compatibility
-----------------------*/

@media screen and (max-width: 1024px) {
    html, body {
        overflow: hidden;
    }

    body{
        position: relative;
    }

    .hero-body {
        padding: 2em !important;
        max-height: 85vh;
        overflow: hidden;
    }

    svg.is-absolute {
        height: 80%;
    }

    .slide-body {
        margin: 1em auto;
    }

    #volume-wrapper {
        margin: 0;
    }

    #navigation-wrapper {
        margin: 0;
        width: 14em;
    }

    #changer-wrapper {
        max-width: 9em;
    }

    .title.is-1 {
        font-size: 1.2em !important;
    }
}

@media screen and (min-width: 1408px) {
    #volume-wrapper {
        margin: 0 3em 3em 0;
    }

    #navigation-wrapper {
        margin: 0 0 3em 3em;
        width: 20em;
    }

    #changer-wrapper {
        margin: 3em 3em 0 0
    }

    .carousel-arrow > .has-icons-left {
        margin-left: 3em;
    }

    .carousel-arrow > .has-icons-right {
        margin-right: 3em;
    }

    .carousel-items {
        justify-content: center;
    }

    .carousel-item {
        width: auto;
    }
}

/*-----------------
---------Animations
-----------------*/

@-ms-keyframes animate-background {
    from {
        background-color: #F2EFEB;
    }
    to {
        background-color: #30332A;
    }
}

@-o-keyframes animate-background {
    from {
        background-color: #F2EFEB;
    }
    to {
        background-color: #30332A;
    }
}

@-webkit-keyframes animate-background {
    from {
        background-color: #F2EFEB;
    }
    to {
        background-color: #30332A;
    }
}

@-moz-keyframes animate-background {
    from {
        background-color: #F2EFEB;
    }
    to {
        background-color: #30332A;
    }
}

@-ms-keyframes animate-background {
    from {
        background-color: #F2EFEB;
    }
    to {
        background-color: #30332A;
    }
}

@keyframes animate-background {
    from {
        background-color: #F2EFEB;
    }
    to {
        background-color: #30332A;
    }
}


@-ms-keyframes logo-anim-bottom {
    0% {
        transform: translateY(0)
    }
    26% {
        transform: translateY(0)
    }
    29% {
        transform: translateY(15px)
    }
    40% {
        transform: translateY(0)
    }
}

@-o-keyframes logo-anim-bottom {
    0% {
        transform: translateY(0)
    }
    26% {
        transform: translateY(0)
    }
    29% {
        transform: translateY(15px)
    }
    40% {
        transform: translateY(0)
    }
}

@-moz-keyframes logo-anim-bottom {
    0% {
        transform: translateY(0)
    }
    26% {
        transform: translateY(0)
    }
    29% {
        transform: translateY(15px)
    }
    40% {
        transform: translateY(0)
    }
}

@-webkit-keyframes logo-anim-bottom {
    0% {
        transform: translateY(0)
    }
    26% {
        transform: translateY(0)
    }
    29% {
        transform: translateY(15px)
    }
    40% {
        transform: translateY(0)
    }
}

@keyframes logo-anim-bottom {
    0% {
        transform: translateY(0)
    }
    26% {
        transform: translateY(0)
    }
    29% {
        transform: translateY(15px)
    }
    40% {
        transform: translateY(0)
    }
}

@-ms-keyframes logo-anim-top {
    0% {
        transform: translateY(-55px)
    }
    25% {
        transform: translateY(-75px)
    }
    30% {
        transform: translateY(15px)
    }
    40% {
        transform: translateY(0)
    }
}

@-o-keyframes logo-anim-top {
    0% {
        transform: translateY(-55px)
    }
    25% {
        transform: translateY(-75px)
    }
    30% {
        transform: translateY(15px)
    }
    40% {
        transform: translateY(0)
    }
}

@-moz-keyframes logo-anim-top {
    0% {
        transform: translateY(-55px)
    }
    25% {
        transform: translateY(-75px)
    }
    30% {
        transform: translateY(15px)
    }
    40% {
        transform: translateY(0)
    }
}

@-webkit-keyframes logo-anim-top {
    0% {
        transform: translateY(-55px)
    }
    25% {
        transform: translateY(-75px)
    }
    30% {
        transform: translateY(15px)
    }
    40% {
        transform: translateY(0)
    }
}

@keyframes logo-anim-top {
    0% {
        transform: translateY(-55px)
    }
    25% {
        transform: translateY(-75px)
    }
    30% {
        transform: translateY(15px)
    }
    40% {
        transform: translateY(0)
    }
}

@-ms-keyframes animate-fill {
    from {
        fill: #F2EFEB;
    }
    to {
        fill: #30332A;
    }
}

@-o-keyframes animate-fill {
    from {
        fill: #F2EFEB;
    }
    to {
        fill: #30332A;
    }
}

@-moz-keyframes animate-fill {
    from {
        fill: #F2EFEB;
    }
    to {
        fill: #30332A;
    }
}

@-ms-keyframes animate-fill {
    from {
        fill: #F2EFEB;
    }
    to {
        fill: #30332A;
    }
}

@-webkit-keyframes animate-fill {
    from {
        fill: #F2EFEB;
    }
    to {
        fill: #30332A;
    }
}

@keyframes animate-fill {
    from {
        fill: #F2EFEB;
    }
    to {
        fill: #30332A;
    }
}

@-ms-keyframes diagonal-stripes {
    0% {
        background-position-x: 0
    }
    100% {
        background-position-x: 65px
    }
}

@-o-keyframes diagonal-stripes {
    0% {
        background-position-x: 0
    }
    100% {
        background-position-x: 65px
    }
}

@-webkit-keyframes diagonal-stripes {
    0% {
        background-position-x: 0
    }
    100% {
        background-position-x: 65px
    }
}

@-moz-keyframes diagonal-stripes {
    0% {
        background-position-x: 0
    }
    100% {
        background-position-x: 65px
    }
}

@keyframes diagonal-stripes {
    0% {
        background-position-x: 0
    }
    100% {
        background-position-x: 65px
    }
}

:root {
    --animate-delay: 0.5s !important;
}

/*-----------------
Standardized colors
-----------------*/

.red {
    fill: #E491C5;
}

.blue {
    fill: #74C7CD;
}

.yellow {
    fill: #FDF388;
}

.dark-yellow {
    fill: #e0d580;
}

.brown {
    fill: #633E17;
}

.red-brown {
    fill: #A8544A;
}

.nude {
    fill: #D1B099;
}

.green-miami {
    fill: #11311D;
}

.orange-miami {
    fill: #E54825;
}

.purple-maximus {
    fill: #555689;
}

.pure-white {
    fill: #ffffff;
}

.dark-grey {
    fill: #30332a;
}

.grey {
    fill: #5a5b55;
}

.white {
    fill: #F2EFEB;
}

.black {
    fill: #181914;
}

.black-stroke {
    stroke: #181914;
    stroke-miterlimit: 10;
    stroke-width: 4px;
}

.dark-grey-stroke {
    stroke: #30332a;
    stroke-miterlimit: 10;
    stroke-width: 2px;
}

.white-stroke {
    stroke: #F2EFEB;
    stroke-miterlimit: 10;
    stroke-width: 2px;
}

.blue-stroke {
    stroke: #74C7CD;
    stroke-miterlimit: 10;
    stroke-width: 2px;
}

.red-stroke {
    stroke: #E491C5;
    stroke-miterlimit: 10;
    stroke-width: 2px;
}

.yellow-stroke {
    stroke: #FDF388;
    stroke-miterlimit: 10;
    stroke-width: 2px;
}

.small-stroke {
    stroke-width: 2px;
}

.very-small-stroke {
    stroke-width: 0.5;
}

.no-fill {
    fill: none;
}

.no-stroke {
    fill: none;
    stroke: transparent;
    stroke-miterlimit: 10;
    stroke-width: 4px;
}

.large-stroke {
    stroke-width: 4px;
}

.text-stroke {
    paint-order: stroke;
    stroke: #30332a;
    stroke-width: 5px;
    stroke-linecap: butt;
    stroke-linejoin: miter;
}

.is-highlighted {
    position: relative;
    z-index: 0;
    text-decoration: none;
}

.is-highlighted::before {
    filter: opacity(0.5);
    position: absolute;
    content: "";
    height: 20px;
    width: 100%;
    z-index: -1;
    bottom: 0;
    transform: translate(10px, -4px);
    transition: width 275ms ease;
}

.is-highlighted:hover::before {
    width: 0;
}

.blue-highlight::before {
    background-color: #74C7CD;
}

.red-highlight::before {
    background-color: #E491C5;
}

.yellow-highlight::before {
    background-color: #FDF388;
}

.white-highlight::before {
    background-color: #fff;
}

.svg-text {
    fill: #efe7dc;
    font-size: 12px;
    font-family: "Abside", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, sans-serif;
}

.logo-name-text > text {
    font-family: "Streamster", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
    Helvetica, serif;
    font-size: 170px;
}

.svg-text-16 {
    font-size: 16px;
}

.svg-text-18 {
    font-size: 18px;
}

.svg-text-20 {
    font-size: 20px;
}

.about-logo-letters {
    font-size: 168px;
}

.clip-path-about-left {
    clip-path: url(#SVGID_2_);
}

.clip-path-about-right {
    clip-path: url(#SVGID_4_);
}